:host {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0;
}


.font-weight-bold {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
    margin: 4px 0;
}

h4 {
    margin: 5px 0;
    font-weight: 200;

}

small {
    font-weight: bold;
}

.name {
    line-height: 50px;
}

.description  {
    line-height: 1em;
}

.text-center {
    text-align: center;
}

.job {
    background: url("../../../assets/svg/16.svg") center no-repeat;
    object-fit: cover;
    height: 450px;
    width: 450px;
    margin: 0 auto;
}

.actions {
  display: inline-flex;
  flex-direction: column-reverse;

  button {
    margin-top: .95em;
  }
}
.container {
    @media screen and (max-width: 320px) {
        width: 100% !important;   
    }
}

