
<div class="title">
    <h3>Senior Developer</h3>
    <h5>Applications</h5>
</div>
<ul>
    <li>
        <a href="#">
            Brian Mwangi
        </a>
        <p>
            Applied on Thursday 12:00 pm
        </p>
    </li>
    <li>
        <a href="#">
            Brian Mwangi
        </a>
        <p>
            Applied on Thursday 12:00 pm
        </p>
    </li>
    <li>
        <a href="#">
            Brian Mwangi
        </a>
        <p>
            Applied on Thursday 12:00 pm
        </p>
    </li>
    <li>
        <a href="#">
            Brian Mwangi
        </a>
        <p>
            Applied on Thursday 12:00 pm
        </p>
    </li>
</ul>
