<div class="profile">
    <div class="profile-img"></div>
    <div class="profile-details">
        <h3>Brian Mwangi</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus praesentium nemo commodi delectus consectetur tenetur.</p>
    </div>
</div>
<div class="qualifications">
    <ul>
        <li>
            <div class="title">
                <h5>
                    Education
                </h5>
            </div>
            <div class="description">
                <p> <span class="font-weight-bold">Title</span> Senior Developer</p>
                <p><span class="font-weight-bold">Company</span> Krokar Tech</p>
                <p><span class="font-weight-bold">From</span> Thursday 11th Jun 2019</p>
                <p><span class="font-weight-bold">To</span> Friday 1st Jan 2020</p>
                <p><span class="font-weight-bold">Description</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum atque minus consectetur ipsam harum corrupti dolorem saepe repellendus, recusandae facilis alias sunt possimus velit consequatur sit quibusdam sint aliquam consequuntur?</p>
            </div>
        </li>

        <li>
            <div class="title">
                <h5>
                    Work
                </h5>
            </div>
            <div class="description">
                <p> <span class="font-weight-bold">Title</span> Senior Developer</p>
                <p><span class="font-weight-bold">Company</span> Krokar Tech</p>
                <p><span class="font-weight-bold">From</span> Thursday 11th Jun 2019</p>
                <p><span class="font-weight-bold">To</span> Friday 1st Jan 2020</p>
                <p><span class="font-weight-bold">Description</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum atque minus consectetur ipsam harum corrupti dolorem saepe repellendus, recusandae facilis alias sunt possimus velit consequatur sit quibusdam sint aliquam consequuntur?</p>
            </div>
        </li> <li>
            <div class="title">
                <h5>
                    Seminars
                </h5>
            </div>
            <div class="description">
                <p> <span class="font-weight-bold">Title</span> Senior Developer</p>
                <p><span class="font-weight-bold">Company</span> Krokar Tech</p>
                <p><span class="font-weight-bold">From</span> Thursday 11th Jun 2019</p>
                <p><span class="font-weight-bold">To</span> Friday 1st Jan 2020</p>
                <p><span class="font-weight-bold">Description</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum atque minus consectetur ipsam harum corrupti dolorem saepe repellendus, recusandae facilis alias sunt possimus velit consequatur sit quibusdam sint aliquam consequuntur?</p>
            </div>
        </li>
    </ul>
</div>
<div class="actions">
    <div class="uploads">
        <a href="#">View CV</a>
    </div>
    <div class="accept">
        <button type="button">Accept</button>
    </div>
</div>
