
<h2 class="title">
	Where We started
</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis consequatur vel illo molestiae sequi quae atque recusandae eaque ab qui.
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod nostrum perspiciatis esse totam, minus eveniet consectetur eos error ab culpa veniam, sint hic quia aut iste blanditiis, placeat voluptate!</p>


<div class="process">
	<div class="process_content">
		<h2>How we stop tarmacking</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corrupti veritatis, et quam commodi placeat eum debitis voluptates itaque atque consectetur quae saepe enim ratione? Quos nemo dignissimos dolore placeat architecto totam dolorum minima ut voluptas, odio qui labore dicta.</p>
	</div>
	<div class="process-img">
		<img src="../../../assets/img/road.jpg" alt="road">
	</div>
</div>